.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    border: 1px solid black;
}